.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 100%;
}  
  

body {
  
  background-image: url("https://cdn.hipwallpaper.com/i/14/65/0LKcei.jpg");
  background-position: right; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}



